# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
log
/log/*
!/log/.keep
/tmp/

# Ignore upload files which are user specific
/uploads
/uploads/.*
/downloads
/downloads/.*

# Ignore master key for decrypting credentials and more.
/config/master.key

# Ignore server log 
shared
shared/data
shared/data/*
shared/log/.*
shared/temp/.*

# Ignore softlink to wmap data
/shared/*

# Ignore database yml
/config/database.yml

# Ignore puma configuration
/config/puma.rb

# Ignore rdoc
docs/

# Ignore assets pipeline
public/assets/

# Ignore .env file which should be local
!/.env
