<h4>  Host Records </h4>
<br />

<%= button_to "Edit", hosts_edit_path, class: "btn btn-primary" %>
<br />
<table class="table table-bordered table-striped">
   <thead>
      <tr>
         <th>Host Name </th>
         <th>IP Address </th>
      </tr>
   </thead>

   <tbody>
      <% @hosts.map do |host| %>
         <tr>
            <td><%= host.host_name %></td>
            <td><%= host.ip %></td>
         </tr>
      <% end %>
   </tbody>
</table>
