<div class="center jumbotron">
  <h2>About the software </h2>
  <br><br>
  <div class="table lg-">
    <table>
      <tr>
        <th class="col-lg-1">Package Name</th>
        <th class="col-lg-2">Description</th>
        <th class="col-lg-1">Source</th>
      </tr>
      <tr>
        <td>wmap</td><td>Pure Ruby library for web application discovery and tracking.</td> <td>Latest source code can be found <a href="https://github.com/yangsec888/wmap">here</a></td>
      </tr>
      <tr>
        <td>wmap.io</td><td>This demo web app that explore the power of wmap. </td><td>Latest source code can be found <a href="https://github.com/yangsec888/www_wmap">here</a></td>
      </tr>
    </table>
  </div>



</div>
