<div class="center jumbotron">
  <h2>About the software </h2>
  <br><br>
  <div>
    <table class="table">
      <tr>
        <th class="col-md-2 col-lg-2 float-left">Package Name</th>
        <th class="col-md-4 col-lg-4 float-left">Description</th>
      </tr>
      <tr>
        <td><a href="https://github.com/yangsec888/wmap" target="_blank">Wmap</a></td><td>Open Source backend Ruby library for web application asset discovery and tracking.</td>
      </tr>
      <tr>
        <td><a href="https://github.com/yangsec888/www_wmap" target="_blank">Wmap Portal</a></td><td>Open Source front-end Rails application that explore the power of Wmap. </td>
      </tr>
    </table>
  </div>



</div>
