<div class="center jumbotron">
  <h2>Welcome to Web Mapper Online </h2>

<br><br>
  <%= form_tag({:controller => "seed", :action => "start"}) do %>
    	<%= submit_tag "Get Started", :class => "btn btn-lg btn-primary"%>
  <% end %>
</div>
