<div class="center jumbotron">
  <h1 style="color: #fff;">Welcome to Web Mapper Online </h1>

<br><br>
  <%= form_tag({:controller => "seed", :action => "start"}) do %>
    	<%= submit_tag "Get Started", :class => "btn btn-lg btn-primary"%>
  <% end %>
</div>
