<script>
  // reload once after Ajax redirect
  $(document).ready(function() {
    if (window.location.href.includes("?")) {
      if (window.location.href.indexOf('reload')==-1) {
           window.location.replace(window.location.href+'&?reload');
      }
    } else {
      if (window.location.href.indexOf('reload')==-1) {
           window.location.replace(window.location.href+'?reload');
      }
    }
  });
</script>
<h4>  Network Registration </h4>
<br />


<%= button_to "Edit", cidrs_edit_path, class: "btn btn-primary" %>
<br />
<table class="table table-bordered table-striped">
   <thead>
      <tr>
         <th>Network CIDR </th>
         <th>CIDR RIPE Reference Text </th>
         <th>CIDR Netname </th>
      </tr>
   </thead>

   <tbody>
      <% @cidrs.map do |cidr| %>
         <tr>
            <td><%= cidr['owed_cidr'] %></td>
            <td><%= cidr['ref'] %></td>
            <td><%= cidr['netname'] %></td>
         </tr>
      <% end %>
   </tbody>
</table>
