<div class="row">
  <div class="col-md-9 col-lg-9">
    <h4> Please save your CIDR file  </h4>
  </div>
  <div id="hint" class="col-md-9 col-lg-9" style="margin-top: 20px;">
    <button type="button" class="btn btn-default" title="Domain Instructions"
      data-container="body" data-toggle="popover" data-placement="right"
      data-content="CIDR Format: <br>
      <ul><li> One entry per line  </li>
          <li> Comment line start with special char # </li>
          <li> Your assigned <a href='https://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing'>CIDR blocks</a> only </li>
          <li> CIDR block example: 8.8.8.8/24 </li>
          <li> Ask your network administrator if you don't know </li>
          <li> Or leave it blank </li>
      </ul>
          "><span class="glyphicon glyphicon-question-sign"></span>CIDR Format</button>
  </div>
</div>


<table class="table">
  <tr>
    <td>
      <div class="tab-content col-md-9 col-lg-09">
        <% data = String.new %>
        <% Dir.mkdir(@dir, 0750) unless Dir.exist?(@dir) %>
        <% File.new(@file, 'w+') unless File.exist?(@file) %>
        <% cidrs = File.open(@file, 'r+') %>
        <% cidrs.each_line { |line| data +=line }; cidrs.close %>
        <h4>Please save your known cidr file after the modification </h4>

        <p>
          <%= form_tag "/cidrs/create" do %>
          <%= text_area_tag :file_tag, data, rows: 22, cols: 90 %>
          <%= hidden_field_tag :uid_tag, @uid %>
          <button class="btn btn-default" type="submit">Save</button>
          <% end %>
        </P>
      </div>
    </td>
  </tr>
</table>
