# systemd control file; put under '/lib/systemd/system/puma.service' in Ubuntu 18.04
[Unit]
Description=Puma Rails Wmap Server
After=syslog.target network.target

[Service]
Type=simple
User=deploy
Group=deploy
UMask=0002

WorkingDirectory=/home/deploy/apps/www_wmap
Environment=PUMA_DEBUG=1
#ExecStart=/bin/bash -lc 'bundle exec puma -e production'
ExecStart=/home/deploy/.rvm/wrappers/ruby-2.6.3/puma -C /home/deploy/apps/www_wmap/config/puma.rb
#ExecStop=/bin/bash -lc 'bundle exec pumactl -P /home/deploy/apps/www_wmap/shared/tmp/puma.pid  stop'
TimeoutSec=15
Restart=always

[Install]
WantedBy=multi-user.target
