#
# Sidekiq auto start using systemd unit file for Ubuntu 18.04
#
# Put this in /lib/systemd/system (Ubuntu).
# Run:
#   1. systemctl enable sidekiq (to enable sidekiq service)
#   2. systemctl {start,stop,restart} sidekiq (to start sidekiq service)
#
# This file corresponds to a single Sidekiq process.  Add multiple copies
# to run multiple processes (sidekiq-1, sidekiq-2, etc).
#
# See Inspeqtor's Systemd wiki page for more detail about Systemd:
# https://github.com/mperham/inspeqtor/wiki/Systemd
#
[Unit]
Description=sidekiq
# start us only once the network and logging subsystems are available,
# consider adding redis-server.service if Redis is local and systemd-managed.
After=syslog.target network.target

# See these pages for lots of options:
# http://0pointer.de/public/systemd-man/systemd.service.html
# http://0pointer.de/public/systemd-man/systemd.exec.html
[Service]
Type=simple
WorkingDirectory=/home/deploy/apps/www_wmap
Environment="PATH=/home/deploy/.rvm/gems/ruby-2.6.3/bin:/home/deploy/.rvm/gems/ruby-2.6.3@global/bin:/home/deploy/.rvm/rubies/ruby-2.6.3/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin:/home/deploy/.rvm/bin:/home/deploy/.rvm/bin"
Environment="GEM_HOME=/home/deploy/.rvm/gems/ruby-2.6.3"
Environment="GEM_PATH=/home/deploy/.rvm/gems/ruby-2.6.3:/home/deploy/.rvm/gems/ruby-2.6.3@global"
# If you use rbenv or rvm:
ExecStart=/bin/bash -lc 'bundle exec sidekiq -e production >> /home/deploy/apps/www_wmap/shared/log/sidekiq.log 2>&1'
# ExecStart=/home/deploy/.rvm/gems/ruby-2.6.3/bin/bundler exec sidekiq -e production
# If you use the system's ruby:
# ExecStart=/home/deploy/.rvm/rubies/ruby-2.6.3/bin/bundle exec sidekiq -e production -C config/sidekiq.yml -L
# ExecStart=/home/deploy/.rbenv/bin/rbenv exec bundle exec sidekiq -e production -c 3 -q mailers -q default
User=deploy
Group=deploy
UMask=0002

# if we crash, restart
RestartSec=1
Restart=on-failure

# output goes to /var/log/syslog
StandardOutput=append:/home/deploy/apps/www_wmap/shared/log/sidekiq.log
StandardError=append:/home/deploy/apps/www_wmap/shared/log/sidekiq.log

# This will default to "bundler" if we don't specify it
SyslogIdentifier=sidekiq

[Install]
WantedBy=multi-user.target
