
<div class="dropdown col-md-3 col-lg-3">
  <button class="btn btn-default dropdown-toggle " data-toggle="dropdown" >
    Choose
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu scrollable-menu">
    <li><a href="/uploads/division_1">division_1 </a></li>
    <li><a href="/uploads/division_2">division_2 </a></li>
    <li><a href="/uploads/division_3">division_3 </a></li>
  </ul>
</div>
