<br />
<br />

<div class="alert alert-warning alert-dismissible" style="margin-left:120px; margin-right:120px; word-wrap:break-word">
  <h4>Oops!</h4>
  <p><%= "There is a problem with the resource you are looking for, please try again or report the problem."%></p>
  <br />
  <p><%= "Error Details:" %><br />
     <%=  "#{@path} (#{@time}): #{@error}" %></p>
</div>
