<div class="row">
  <h3>Update In Progress!</h3>
</div>

<table class="table">
  <tr>
    <td>
      The update is kick-off as a background process. Once it's done you'll receive a confirmation email. Please follow the link to check out again after receiving the confirmation.
    </td>
  </tr>
</table>
