<table class="table">
  <tr>
    <td>
      <div class="tab-content col-md-9 col-lg-09">
        <% data = String.new %>
        <% @hosts.map { |x| data = data + x + "\n" } %>
        <h4>Please save your discovery hosts after the modification </h4>

        <p>
          <%= form_tag "/seed/save_hosts" do %>
          <%= text_area_tag :file_tag, data, rows: 22, cols: 90 %>
          <%= hidden_field_tag :uid_tag, @uid %>
          <button class="btn btn-default" type="submit">Save</button>
          <% end %>
        </P>
      </div>
    </td>
  </tr>
</table>
