<div class="row">
  <h3>Discovery In Progress!</h3>
</div>

<table class="table">
  <tr>
    <td>
      The discovery is kick-off as a background process. Once it's done you'll receive a confirmation email. Please check out in the Discovery menu section again once done.
    </td>
  </tr>
</table>
