<div class="row container">
  <h4>Please read through the disclaimer before proceeding!</h4>
</div>

<table class="table">
  <th><tr></tr></th>
  <tr>
    <td><b>Disclaimer: </b><i>By click on the Discover button below, you confirm that you have the exclusive permission to perform such discovery.
    You also agree to waive all your rights on the appliation programmer, and the site hosting provider.</i>
    </td>
  </tr>
  <tr>
    <td>
      <%= button_to "Discover", action: "discovery" %>
    </td>
  </tr>
</table>
