<h4>Please read through the disclaimer before proceeding!</h4>

<div class="table"></div>
<div class="row">
  <div class=" col-md-9 col-lg-9">
    <b>Disclaimer: </b>
    <div class="row"> </div>
    <i>By click on the Discover button below, you confirm your email as <u><b><%= @user.email %></b></u>. And you have the exclusive permission to perform such discovery.
      You also agree to waive all your rights on the appliation programmer, and the site hosting provider.</i>
  </div>
</div>
<div class="col-md-9 col-lg-9"> </div>
    <div> </div>
    <p>
    <%= button_to("Discover", seed_discovery_path, class: "btn btn-primary") %>
    </br>
<div class="row"> </div>
