<h4>Please read through the disclaimer before proceeding!</h4>

<div class="table"></div>
<div class="row">
  <div class=" col-md-9 col-lg-9">

    <b>Disclaimer: </b></br>
    <i>By click on the Discover button below, you confirm that you have the exclusive permission to perform such discovery.
      You also agree to waive all your rights on the appliation programmer, and the site hosting provider.</i>
  </div>
</div>
<div class="table"> </div>

      <%= button_to("Discover", seed_discovery_path, class: "btn btn-primary") %>

<div class="row"> </div>
