<script type="text/javascript">
  $(document).ready(function() {
    var seed_editor = CodeMirror(document.getElementById("seedTextArea"), {
      mode: "null",
      lineNumbers: true,
      extraKeys: {
        "Ctrl-Space": "autocomplete"
      },
      value: ""
    });
    var seed_value =  $.ajax({
      url: "load_file",
      type: "GET",
      dataType: 'text',
      data: {
        "path": ""
      },
      success: function(response) {
        //console.log(response);
        //alert("Success: " + response['message'])
        seed_editor.getDoc().setValue(response);
      },
      error: function(response) {
        //console.log(response);
        alert("Error: " + response['message'])
      }
    });
    $('#save_seed_button').click(function() {
      $.ajax({
        url: "save_file",
        type: "POST",
        dataType: 'json',
        data: {
          "file_path": "",
          "file_content": seed_editor.getDoc().getValue()
        },
        success: function(response) {
          //console.log(response);
          if  (response['message']=="Access Denied.") {
            alert("Access Denied.")
          } else {
            alert("Success: " + response['message']);
            window.location = "/domains/edit"
          }

        },
        error: function(response) {
          //console.log(response);
          alert("Error:" + response['message'])
        }
      });
    });
  });
</script>

<h4>  Discovery Seeds </h4>
<br />


<div class="row">

  <div class=" col-md-9 col-lg-9">
    <p>
    </br>
    <button class="btn btn-primary" id="save_seed_button" type="submit">Save</button>
    <button type="button" class="pull-right btn btn-default" title="Discovery Seed Instructions"
      data-container="body" data-toggle="popover" data-placement="right"
      data-content="Discovery Seed Format: <br>
      <ul><li> One entry per line  </li>
          <li> Comment line start with special char # </li>
          <li> The entry can be an URL: https://x.x.x.x/ </li>
          <li> The entry can be full-qualified domain name: www.yoursite.com </li>
          <li> The entry can be an IP address: x.x.x.x </li>
          <li> The entry can be a network block in IPv4 CIDR format: x.x.x.x/24  </li>
      </ul>
          "><span class="glyphicon glyphicon-question-sign"></span>Seed Format</button>
    <div class ="CodeMirror" id="seedTextArea">
    </div>

  </div>
</div>
