<div class="col-md-2 col-lg-2">
  <button class="btn btn-default dropdown-toggle " data-toggle="dropdown" align="left">
      Edit
      <span class="caret"></span>
  </button>
    <ul class="dropdown-menu">
        <li><%= link_to('Update', {controller: 'uploads', action: 'new'}) %></li>
        <li><%= link_to 'Delete', report_path(@report.id), method: :DELETE, data: {:confirm => "Are you sure delete report: #{@report.title}?"} %></li>
    </ul>
</div>
