      <hr style="border-top: 1px solid blue; border-bottom: 7px solid #F2F2F2;margin-top: 2px;margin-bottom: 0px;">

      <div class="page-footer text-muted" class="container">
        <footer class="footer">
          <small>
            The Wep Mapper Online by <%= link_to "OWASP", "https://www.owasp.org/index.php/OWASP_Web_Mapper_Project", :method => :get %>
          </small>
        </footer>
      </div>
    </div>
  </div>
  </body>
</html>
