<footer class="footer">
  <small>
    The Wep Mapper Online by <%= link_to "CyberSecurity Team", home_support_contact_url%>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", home_about_url%></li>

    </ul>
  </nav>
</footer>
